gtts
pyaudio
speechrecognition
playsound==1.2.2
opencv-python
textblob
langdetect
numpy
tensorflow
langchain
langchain-openai
faiss-cpu
sentence-transformers
streamlit
tiktoken
duckduckgo-search
pytesseract
Pillow